{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="bg-cover h-96 bg-[url(/build/images/page_accueil/fond.jpg)]">

</section>
<section class="p-5">
    <h2 class="pb-3">Notre grande histoire</h1>
    <p class="text-start p-4 border-top border-1 border-black ">
        qzessfriroligsndkkkkkngedlofin
    </p>
</section>
<section class="d-flex flex-between flex-row">
    <img class="me-4 w-50" src="/build/images/page_accueil/photo1.jpg" alt="image de nourriture"/>
    <img class="ms-4 w-50" src="/build/images/page_accueil/photo2.jpg" alt="image de nourriture"/>
</section>

{% endblock %}
