{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="flex justify-center flex-col text-white bg-cover bg-center h-80 bg-[url(/build/images/page_accueil/fond.jpg)]">
    <div class="rounded-lg mb-8 bg-black/75 w-2/3 self-center p-4 text-sm">
        <h1 class="font-bold text-base">La taverne du Chabrulé</h1>
        <p>1 rue du temple</p>
        <p>44730</p>
        <p>Saint-Michel-Chef-Chef</p>
        <p>07 62 56 89 45</p>
    </div>
    <div class="mt-2">
        <button type="button" class="w-2/5 self-center rounded-lg bg-white/75 p-3 px-7 text-black font-bold">
            Réserver
        </button>
    </div>
</section>
<section class="p-5">
    <h1 class="py-4 font-bold">Notre grande histoire</h1>
    <p class="text-start p-4 border-t text-sm">
        qzessfrir gerfhfygv ntfgdfghn gyj,gyh j,yfgthj  jyfghj gyh jyghgj ,yhgt j yguh rtytgyutygujhutgyfy fyuj tyh
        tyhgkuythuiohhtr h jytgijohojdrtjgh reuihgjkjf htfg

        erg rt hty j yt j
    </p>
</section>
<section>
    <img class="mb-4" src="/build/images/page_accueil/photo1.jpg" alt="image de nourriture"/>
    <img src="/build/images/page_accueil/photo2.jpg" alt="image de nourriture"/>
</section>

{% endblock %}
