{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_titre.webp" alt="Carte d'un restaurant" class="w-20"/>
    <div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_entree.webp" alt="Assiète d'entrée" class="w-20"/>
    <div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_plat.webp" alt="Assiète de plat" class="w-20"/>
    <div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_dessert.webp" alt="Assiète de dessert" class="w-20"/>
    <div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_boisson.webp" alt="Verres de vin" class="w-20"/>
    <div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
        <div>
            <p>sauté de veau</p>
            <p>10$</p>
        </div>
    </div>
</section>

{% endblock %}